.bg-dark {
    background-color: #e0e0e0;
    min-height: 100vh;
    width: 100%;
    content: "";
 
}
.Copyright{
    text-align: center;
    background-color: $black;
    width: 100%;
    padding: 4rem 0;
    font-size: 1.7rem;
    font-weight: 500;
    a{
        color: $white;
        font-size: 1.7rem;
        text-decoration: underline;
    }
}
.footer{
    width: 100%;
    padding-bottom: 11rem;
    @include respond(tab-port3){
        padding: 0 4rem 11rem 4rem;

    }
    &__sections{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 11rem 0 0 0;
        @include respond(tab-port){
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }
        @include respond(tab-port3){
            grid-template-columns: 1fr;
            justify-content: center;
        }

    }
    &__section{
        &--logo{
            margin-bottom: 2.4rem;
        }
        p{
            margin-bottom: 2rem;
        }
        &__heading{
            &--h1{
                font-size: 1.8rem;
                font-weight: 900;
                color: $black;
                text-transform: uppercase;
                margin-bottom: 4rem;
                position: relative;
                &::after{
                    position: absolute;
                    bottom: -1.5rem;
                    left: 0;
                    width: 4rem;
                    height: .3rem;
                    background: $pink;
                    content: '';
                
                }
            }
        }
        &--content{
            &--point{
                margin-bottom: .8rem;
                font-size: 1.6rem;
                display: flex;
                gap: .8rem;
                align-items: center;
                i{
                    color: $pink;
                }
                a{
                    font-size: inherit;
                    color: $black;
                    transition: all .1s;
                    &:hover{
                        color: $pink;
                    }
                }
            }
            &--detail{
                display: flex;
                color: $black;
                gap: 1rem;
                align-items: baseline;
                margin-bottom: .8rem;
                i{
                    font-size: 1.4rem;
                }
                p{
                    color: inherit;
                }

            }
            &--link{
                display: flex;
                color: $pink;
                font-size: 1.4rem;
                margin: 2rem 0;
                gap: 1rem;
                align-items: center;
                margin-bottom: .8rem;
            }
        }
    }
}
